/**
 * Global Elements
 */

body { overflow-y: scroll; }

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }

.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }

.pd-10 { padding: 10px; }

.edit-form textarea { resize: vertical; }

.table.table-middle td,
#datatable tr td { vertical-align: middle; }

.box-form-groups { padding-bottom: 0; }

.col-remove-padding-right { padding-right: 0; }

/**
 * Image Upload Form Group
 */

.form-group--image-upload .placeholder { position: relative; }
.form-group--image-upload .placeholder.show { margin-top: 15px; }
.form-group--image-upload .placeholder img { display: inline-block; vertical-align: top; max-width: 100px; height: auto; padding: 4px; border: 1px solid #e5e5e5; }
.form-group--image-upload .placeholder a { position: absolute; top: 5px; left: 5px; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 11px; background: rgba(0,0,0,0.5); color: #fff; }

/**
 * Comments
 */

.comments .comment { padding: 15px 15px; margin-bottom: 10px; background: #eee; }
.comments .comment:last-child { margin-bottom: 0; }
.comments .comment .header { margin-bottom: 10px; }
.comments .comment .header .name { font-weight: bold; }
.comments .comment .message p.no-mb,
.comments .comment .message p:last-child { margin-bottom: 0; }
.comments .comment .message .small { font-size: 12px; color: #999; }

/**
 * Responsive
 */

@media (max-width: 990px) {
  .col-remove-padding-right { padding-right: 15px; }
}
